* {
    font-family: "Jetbrains Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: #11111b; /* @crust */
    color: #6c7086; /* @overlay0 */
    border-bottom: 1px solid #7f849c; /* @overlay1 */
}

#workspaces button {
    padding: 0 4px;
    color: #6c7086; /* @overlay0 */
}

#workspaces button.focused {
    color: #f5e0dc; /* @rosewater */
}

#workspaces button.active {
    color: #cba6f7; /* @mauve */
}

#workspaces button.urgent {
    background-color: #f38ba8; /* @red */
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray {
    padding: 0 4px;
    margin: 0 4px;
}

#clock {
    color: #eba0ac; /* @maroon */
}

#pulseaudio {
    color: #89b4fa; /* @blue */
}

#network {
    color: #f9e2af; /* @yellow */
}

#cpu {
    color: #a6e3a1; /* @green */
}

#memory {
    color: #f5c2e7; /* @pink */
}

#temperature {
    color: #f9e2af; /* @yellow */
}

#battery {
    color: #a6e3a1; /* @green */
}